# macOS / Xcode / Swift
.DS_Store
build/
DerivedData/
*.xcuserdatad
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
# Node/Electron (falls du es doch nutzt)
node_modules/
# Secrets
.env
